# Web Framework & Validation
fastapi>=0.100.0
uvicorn[standard]>=0.22.0
pydantic[email]>=2.0.0
email-validator>=2.0.0
python-dotenv>=1.0.0
requests>=2.31.0
httpx>=0.24.0
pydantic==2.6.4
pydantic-settings==2.2.1

# Google Identity & Cloud SDKs
google-auth>=2.20.0
PyJWT>=2.8.0
google-cloud-bigquery>=3.10.0
google-cloud-secret-manager>=2.16.0
google-cloud-storage>=2.10.0
google-generativeai>=0.4.1
google-cloud-firestore>=2.14.0
google-cloud-dataplex>=1.11.0

# Testing
pytest>=7.4.0
pytest-asyncio>=0.21.0
